#category-page {
    margin: 0 auto;
    width: 95%;

  @media screen and (min-width: 750px) {
      width: 70% !important;
      float: right !important;
      padding: 25px !important;
      margin-top: 1.125em;
      margin-bottom: 5em;
    }

    article {
      padding: 1em;
      background-color: rgba(0,0,0,.01);
      border: 1px solid rgba(0,0,0,.1);
      transition: all .3s ease-in-out;

      &:hover {
        transition: all .3s ease-in-out;
        box-shadow: 0 0 40px 5px rgba(0,0,0,0.125);
      }

      @media screen and (min-width: 1250px) {
        width: 46%;
        margin: 10px 10px;
        display: inline-block;
        vertical-align: top;
        height: 550px;
        overflow: scroll;
      }

      @media screen and (min-width: 1500px) {
        height: 500px;
      }

      @media screen and (min-width: 1600px) {
        height: 475px;
      }
    }
  }