.contact-area {
  margin: auto;
  padding: 0 0 100px 0;
  width: 90%;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 50em) {
    flex-direction: row;
    max-width: 1000px;
    padding: 25px;
    margin-top: -3em;
  }
}

.contact-content {

   a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #F7941D;
    border: 1px solid #F7941D;
    border-radius: 5px;
    padding: 5px 0;
    width: 95%;
    transition: all .3s ease-in-out;

    &:hover {
      box-shadow: 0 0 8px 2px rgba(0,0,0,.25);
      transition: all .3s ease-in-out;
    }
  }
  
  @media screen and (min-width: 50em) {
    width: 50%;
    padding: 25px;
  }
}

.contact-reachout {
  padding-top: 10px;

  a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #F7941D;
    border: 1px solid #F7941D;
    border-radius: 5px;
    padding: 5px 0;
    width: 45%;
    margin: 10px 5px;
    transition: all .3s ease-in-out;

    &:hover {
      box-shadow: 0 0 8px 2px rgba(0,0,0,.25);
      transition: all .3s ease-in-out;
    }
  }
  
  @media screen and (min-width: 50em) {
    width: 50%;
    padding: 25px;
    margin-top: .5em;
  }
}