#background-color {
  background-color: rgba(0,0,0,.75);
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,.75), #444); 
  background-image: linear-gradient(to bottom,rgba(0,0,0,.75), #444); 
}

.profile {
  color: white;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  width: 90%;

  @media screen and (min-width: 50em) {
    flex-direction: row;
    text-align: left;
    max-width: 1000px;
    margin: 50px auto;
  }
}

.profile-content {

  .no-style {
    text-align: center;
    text-decoration: underline;
    color: #F7941D;
    border: none !important;
    border-radius: none !important;
    padding: 0 !important;
    transition: none !important;

    &:hover {
      box-shadow: none !important;
    }
  }

  a {
    text-align: center;
    text-decoration: none;
    color: #F7941D;
    border: 1px solid #F7941D;
    border-radius: 5px;
    padding: 10px 20px;
    transition: all .3s ease-in-out;

    &:hover {
      box-shadow: 0 0 10px 3px rgba(0,0,0,.5);
      transition: all .3s ease-in-out;
    }
  }

  @media screen and (min-width: 50em) {
    width: 60%;
    padding-left: 2em;
    margin: auto;
  }

  @media screen and (min-width: 1100px) {
    padding-left: 0;
  }
}

.profile-image {

  img {
    box-shadow: 0 0 22px 2px rgba(0,0,0,.5);
    border-radius: 50%;
  }

  @media screen and (min-width: 50em) {
    width: 40%;
  }
}