  .side-by-side {
    

    @media screen and (min-width: 50em) {
      display: flex;
      max-width: 1100px;
      margin: 0 auto;
      margin-bottom: 8em;
      padding: 25px 50px;
    }
  }

  .side-by-side-text {
    width: 90%;
    margin: 0 auto;
    text-align: center;

    @media screen and (min-width: 50em) {
      flex-direction: column;
      width: 50%;
      margin: auto;
      text-align: left;
    }

    p {
      padding: 0 5% 0 0;
      // font-size: 1.1em;
      // line-height: 1.5;
    }
  }

  .side-by-side-image {
    text-align: center;

    @media screen and (min-width: 50em) {
      flex-direction: column;
      width: 50%;
    }
  }
